<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/ico" href="./favico.png"/>
    <!--<title>Welcome to fonePedia - Phone review, detail, image, vote, ...</title>-->
    <title ng-bind="'fonePedia - ' + $root.title "> fonePedia - Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap-paper.css">
    <link rel="stylesheet" href="../public/css/app.css">


    <script src="../public/bower_components/angular/angular.js"></script>
    <script src="../public/bower_components/angular-route/angular-route.js"></script>
    <script src="../public/bower_components/angular-resource/angular-resource.js"></script>
    <script src="../public/js/app.js"></script>
    <script src="../public/js/controller.js"></script>
    <script src="../public/js/service.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/app"><span><img src="./favico.png"></span> fonePedia</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li><a href="">|</a></li>
                    <li><a href="/app">Home</a></li>
                    <li><a href="./#/phones">Phones</a></li>
                    <li><a href="./#/reviews">Reviews</a></li>
                    <li><a href="./#/faq">FAQ</a></li>
                    <li><a href="./#/contact">Contact Us</a></li>
                    <li><a href="./#/admincp">AdminCP</a></li>
                </ul>
            </div>

            <div>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <a href="./#/phones">
                        <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
                    </a>
                </form>
            </div>
        </div>

    </nav>
</header>

<div id="main">
    <div ng-view></div>
    <br/>
    <br/>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted h6 text-center">fonePedia | Powered by AngularJS and NodeJS</p>
    </div>
</footer>

</body>
</html>
