/*-------------- Fone --- */
/* app css stylesheet */

body {
    padding-top: 20px;
}

.phones {
    list-style: none;
}

.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    max-height: 100px;
    max-width: 100px;
}

.phones li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

/** Detail View **/
img.phone {
    float: left;
    /*border: 3px solid #734180;*/
    border: 2px outset rgba(159, 161, 163, 0.66);
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    float: left;
    width: 100%;
}

ul.phone-thumbs {
    margin: 0;
    list-style: none;
}

ul.phone-thumbs li {
    border: 1px solid navy;
    display: inline-block;
    margin: 1em;
    background-color: white;
}

ul.phone-thumbs img {
    height: 100px;
    width: 100px;
    padding: 1em;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}

ul.specs {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.specs > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

ul.specs > li > span {
    font-weight: bold;
    font-size: 1.2em;
}

ul.specs dt {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid gray;
}

/*-----------------------------------------*/

/*-----------------Phone Detail --------*/
#specs-list {
    border-bottom: 9px solid #FFFFFF;
}

#specs-list p {
    background: none repeat scroll 0 0 #F6F6F6;
    font-size: 12px;
    padding: 4px 6px;
}

#specs-list p a {
    color: #7D7464;
    text-decoration: underline;
}

#specs-list table {
    border-top: 1px solid #E3E3E3;
}

#specs-list caption {
    display: none;
}

#specs-list th, #specs-list td {
    font: 12px Arial;
    padding: 1px 6px;
    vertical-align: top;
}

#specs-list th {
    background: none repeat scroll 0 0 #F6F6F6;
    border-right: medium none;
    color: #0e09b2;
    font: 15px Oswald;
    text-transform: uppercase;
    width: 120px;
}

#specs-list td {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #f0f0f0;
    line-height: 20px;
}

#specs-list td.ttl {
    color: #7D7464;
    font-weight: bold;
    width: 110px;
}

#specs-list tr:last-child td {
    border-bottom: medium none;
}

#specs-list td.ttl a {
    color: #7D7464;
}

#specs-list td.nfo ul {
    margin-left: 16px;
}

#specs-list td.nfo a {
    color: #0e12b2;
    text-decoration: underline;
}

#specs-list td.nfo a.noUnd {
    color: #000000;
    text-decoration: none;
}

#specs-list td.nfo a.noUnd:hover {
    color: #161ff0;
    text-decoration: underline;
}

#specs-list td.nfo li {
    list-style-type: disc;
    padding: 1px 0;
}

#specs-list .tr-hover td {
    top: 0;
    transition: all 0.15s ease-out
}

#specs-list .tr-hover:hover td {
    padding-bottom: 1px;
    padding-top: 1px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .31);
}

#specs-list .tr-hover:hover td.ttl {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .31);
}

#specs-list td.nfo {
    width: 320px;
}

/*--------------------------------------*/

/* Footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    margin-top: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #9632e5;
}

/*---------------------------------------------------*/

/* Two columns */
.two-column {
    -moz-column-count: 2;
    -moz-column-gap: 10.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 10.5em;
    column-count: 2;
    column-gap: 10.5em;
}

.makers li {
    float: left;
    height: 320px;
    position: relative;
    text-align: center;
    width: 190px;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}

.makers a {
    background: none repeat scroll 0 0 #F1EFEF;
    display: block;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 190px;
}

.makers img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9CDCC;
    clear: both;
    height: 220px;
    margin: 0 auto 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 190px;
}

.makers strong {
    background: none repeat scroll 0 0 #F6F6F6 !important;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #CCCCCC;
    box-shadow: 0 -1px 0 #FFFFFF;
    clear: both;
    display: block;
    font: 12px Arial;
    margin: 1px auto 0;
    padding: 3px 0 2px;
    position: relative;
    top: 1px;
    min-height: 30px;
}