<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-primary text-center"> BTL : Nhập môn hệ quản trị cơ sở dữ liệu</h3>
        </div>
        <div class="panel-body">
            <h4>- Tên đề tài:</h4> <h5 class="text-center text-success">Xây dựng trang tra cứu thông tin các dòng điện thoại di động</h5>
            <h4>- Các thành viên</h4>
            <ul>
                <li class="text-info">Vũ Cao Cường</li>
                <li class="text-info">Nguyễn Thanh Hoàng</li>
                <li class="text-info">Tạ Duy Hoàng</li>
                <li class="text-info">Nguyễn Văn Thanh</li>
                <li class="text-info">Nguyễn Văn Quyết</li>
                <li class="text-info">Phan Văn Quý</li>
                <li class="text-info">Đặng Quang Thuận</li>
                <li class="text-info">Nguyễn Văn Thắng</li>
                <li class="text-info">Trần Đức Trọng</li>
                <li class="text-info">Nông Văn Khánh</li>
            </ul>
            <h4>- Công nghệ sử dụng</h4>
            <ul>
                <li class="text-info">Client side : AngularJS, Bootstrap </li>
                <li class="text-info">Server side : NodeJS</li>
                <li class="text-info">Database    : MySQL</li>
            </ul>
            <h4>- Liên hệ</h4><p>@nvthanh1994@gmail.com</p>
        </div>
    </div>

</div>
