<!--
<img ng-src="{{mainImageUrl}}" class="phone">

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
    <li ng-repeat="img in phone.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
        </dl>
    </li>
    <li>
        <span>Battery</span>
        <dl>
            <dt>Type</dt>
            <dd>{{phone.battery.type}}</dd>
            <dt>Talk Time</dt>
            <dd>{{phone.battery.talkTime}}</dd>
            <dt>Standby time (max)</dt>
            <dd>{{phone.battery.standbyTime}}</dd>
        </dl>
    </li>
    <li>
        <span>Storage and Memory</span>
        <dl>
            <dt>RAM</dt>
            <dd>{{phone.storage.ram}}</dd>
            <dt>Internal Storage</dt>
            <dd>{{phone.storage.flash}}</dd>
        </dl>
    </li>
    <li>
        <span>Connectivity</span>
        <dl>
            <dt>Network Support</dt>
            <dd>{{phone.connectivity.cell}}</dd>
            <dt>WiFi</dt>
            <dd>{{phone.connectivity.wifi}}</dd>
            <dt>Bluetooth</dt>
            <dd>{{phone.connectivity.bluetooth}}</dd>
            <dt>Infrared</dt>
            <dd>{{phone.connectivity.infrared}}</dd>
            <dt>GPS</dt>
            <dd>{{phone.connectivity.gps}}</dd>
        </dl>
    </li>
    <li>
        <span>Android</span>
        <dl>
            <dt>OS Version</dt>
            <dd>{{phone.android.os}}</dd>
            <dt>UI</dt>
            <dd>{{phone.android.ui}}</dd>
        </dl>
    </li>
    <li>
        <span>Size and Weight</span>
        <dl>
            <dt>Dimensions</dt>
            <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
            <dt>Weight</dt>
            <dd>{{phone.sizeAndWeight.weight}}</dd>
        </dl>
    </li>
    <li>
        <span>Display</span>
        <dl>
            <dt>Screen size</dt>
            <dd>{{phone.display.screenSize}}</dd>
            <dt>Screen resolution</dt>
            <dd>{{phone.display.screenResolution}}</dd>
            <dt>Touch screen</dt>
            <dd>{{phone.display.touchScreen}}</dd>
        </dl>
    </li>
    <li>
        <span>Hardware</span>
        <dl>
            <dt>CPU</dt>
            <dd>{{phone.hardware.cpu}}</dd>
            <dt>USB</dt>
            <dd>{{phone.hardware.usb}}</dd>
            <dt>Audio / headphone jack</dt>
            <dd>{{phone.hardware.audioJack}}</dd>
            <dt>FM Radio</dt>
            <dd>{{phone.hardware.fmRadio}}</dd>
            <dt>Accelerometer</dt>
            <dd>{{phone.hardware.accelerometer}}</dd>
        </dl>
    </li>
    <li>
        <span>Camera</span>
        <dl>
            <dt>Primary</dt>
            <dd>{{phone.camera.primary}}</dd>
            <dt>Features</dt>
            <dd>{{phone.camera.features.join(', ')}}</dd>
        </dl>
    </li>
    <li>
        <span>Additional Features</span>
        <dd>{{phone.additionalFeatures}}</dd>
    </li>
</ul>
-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group  text-center">
                <a href="./#/brands" class="list-group-item active"> Brands </a>
                <a href="#" class="list-group-item">Apple</a>
                <a href="#" class="list-group-item">BlackBerry</a>
                <a href="#" class="list-group-item">Sony</a>
                <a href="#" class="list-group-item">LG</a>
                <a href="#" class="list-group-item">Motorola</a>
                <a href="#" class="list-group-item">Dell</a>
                <a href="#" class="list-group-item">Samsung</a>
                <a href="#" class="list-group-item">Huawei</a>
                <a href="#" class="list-group-item">Dell</a>
                <a href="#" class="list-group-item">Samsung</a>
                <a href="#" class="list-group-item">Huawei</a>
                <a href="#" class="list-group-item">Dell</a>
                <a href="#" class="list-group-item">Samsung</a>
                <a href="#" class="list-group-item">Huawei</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h5 style="float:left;" class="text-success">{{phone.name}}</h5>
                <h5 style="float:right;">Brand Logo</h5>
                <br>
                <hr style="border: 2px solid rgba(192, 6, 74, 0.66);">
            </div>
            <div class="col-md-4">
                <img ng-src="{{phone.images[0]}}" alt="" class="phone"/>

                <p class="text-info">{{phone.review.name}}</p>

                <p class="text-info">{{phone.vote.nbVotes}} Votes</p>

                <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi ex illum laborum minus nulla obcaecati repellendus! Aliquid commodi earum esse harum in
                    molestiae nisi possimus recusandae, reprehenderit, veritatis vitae.</p>
            </div>
            <div class="col-md-8">
                <div id="specs-list">
                    <!-- General-->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="3" scope="row">General</th>
                            <td class="ttl">Network</td>
                            <td class="nfo">{{phone.general.network}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Announced</td>
                            <td class="nfo">{{phone.general.announced}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Status</td>
                            <td class="nfo">{{phone.general.status}}</td>
                        </tr>
                    </table>

                    <!-- Body-->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="2" scope="row">Body </th>
                            <td class="ttl">Dimmension</td>
                            <td class="nfo">{{phone.body.dimmension}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Weight</td>
                            <td class="nfo">{{phone.body.weight}}</td>
                        </tr>
                    </table>
                    <!-- Display-->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="2" scope="row">Display </th>
                            <td class="ttl">Type</td>
                            <td class="nfo">{{phone.display.type}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Size</td>
                            <td class="nfo">{{phone.display.size}}</td>
                        </tr>
                    </table>
                    <p>Bla bla bla bla</p>

                </div>
            </div>


        </div>


    </div>
</div>


<div class="container" align="center">
    Facebook plugin bla bla bla bla
</div>