<div class="container" style="margin-top:40px" ng-show="!logined">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> Sign in to continue</strong>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="login(user)">
                        <fieldset>
                            <div class="row">
                                <div class="center-block">
                                    <img class="profile-img"
                                         src="img/avatar.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
												<span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
												</span>
                                            <input class="form-control" placeholder="Username" name="loginname" type="text" autofocus ng-model="user.username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-lock"></i>
												</span>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="user.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p ng-show="wrongUser" class="text-danger h6">Wrong Username or Password</p>
                                        <input type="submit" class="btn btn-md btn-primary btn-block" value="Sign in">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tạm thời thế đã -->
<!--Phone Management-->
<div class="container-fluid" ng-show="logined">
    <div class="col-md-2">
        <ul style="list-style: none;">
            <li class="text-primary well text-center h6"><p>Hi, {{userInfo}}</p></li>
            <li class="text-primary well text-center h6"><p><button class="btn btn-md btn-info" ng-click="logout()">Log out</button></p></li>
        </ul>
    </div>
    <div class="col-md-10" id="content">
        <ul class="two-column">
            <li class="text-primary well text-center h5"><a href="#/dashboard/phones"> <i class="fa fa-mobile"></i> Phone Management</a></li>
            <!--<li class="text-primary well text-center h5"><a href="#/dashboard/brands"><i class="fa fa-copyright"></i> Brand Management</a></li>-->
            <li class="text-primary well text-center h5"><a href="#/dashboard/reviews"><i class="fa fa-newspaper-o"></i> Review Management</a></li>
            <li class="text-primary well text-center h5"><a href=""><i class="fa fa-user"></i> User Management</a></li>
        </ul>
    </div>
</div>
