<div class="container">
    Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, consequatur dolor et explicabo incidunt mollitia pariatur qui, quia saepe veniam voluptatem. Cumque cupiditate dolor
    explicabo minus numquam porro quibusdam.
    <br>
    A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque commodi corporis delectus esse laboriosam, laudantium magni modi nihil nobis quis quo quos reprehenderit sed similique
    sint voluptatum. Nam!
    <hr/>
    Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, consequatur dolor et explicabo incidunt mollitia pariatur qui, quia saepe veniam voluptatem. Cumque cupiditate dolor
    explicabo minus numquam porro quibusdam.
    <br>
    A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque commodi corporis delectus esse laboriosam, laudantium magni modi nihil nobis quis quo quos reprehenderit sed similique
    sint voluptatum. Nam!
    <hr/>
    Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, consequatur dolor et explicabo incidunt mollitia pariatur qui, quia saepe veniam voluptatem. Cumque cupiditate dolor
    explicabo minus numquam porro quibusdam.
    <br>
    A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque commodi corporis delectus esse laboriosam, laudantium magni modi nihil nobis quis quo quos reprehenderit sed similique
    sint voluptatum. Nam!
    <hr/>
    Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, consequatur dolor et explicabo incidunt mollitia pariatur qui, quia saepe veniam voluptatem. Cumque cupiditate dolor
    explicabo minus numquam porro quibusdam.
    <br>
    A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque commodi corporis delectus esse laboriosam, laudantium magni modi nihil nobis quis quo quos reprehenderit sed similique
    sint voluptatum. Nam!
    <hr/>
    Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, consequatur dolor et explicabo incidunt mollitia pariatur qui, quia saepe veniam voluptatem. Cumque cupiditate dolor
    explicabo minus numquam porro quibusdam.
    <br>
    A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque commodi corporis delectus esse laboriosam, laudantium magni modi nihil nobis quis quo quos reprehenderit sed similique
    sint voluptatum. Nam!
    <hr/>
    Q: Give me some cool video ?
    <br>
    A: Here
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/09R8_2nJtjg" frameborder="0" allowfullscreen></iframe>
    </div>
    <hr/>
</div>