<div class="container">
    <div class="jumbotron text-center">
        <h2 class="text-danger">Welcome to fonePedia <span class="fa fa-mobile"></span></h2>

        <p class="text-primary">A "wikipedia" for mobile phone</p>
    </div>
</div>
<style type="text/css">
    html,body{
        background-color: #F5F5F5;
    }
</style>

<div id="Content" class="container">
    <div class="row">
        <div id="Reviews"><h3 class="text-primary">Lastest Reviews</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi beatae consequatur earum, enim eos est facilis illum impedit incidunt minus, neque non, optio sed ut velit voluptates.
            Cupiditate, dignissimos?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolor eius error exercitationem incidunt laborum magnam minima, odit, optio quas quisquam recusandae rem sit soluta vero. Autem,
            minima, vero. Ipsam?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam animi cumque delectus eaque earum id illum, ipsam iusto labore libero maiores natus numquam optio reiciendis tempore
            ullam vitae voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa fugit natus. Dolore eaque esse et eum harum iure laudantium minus, necessitatibus qui quidem recusandae saepe, sapiente
            soluta suscipit voluptatem.
        </div>
        <div id="Left" class="col-md-6">
            <div id="Popular"><h3 class="text-primary">Lastest News</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur, dolor illum, ipsum nemo nesciunt non praesentium, quas quos ullam voluptates voluptatibus. Culpa debitis
                deserunt officia, porro ratione sequi sit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor fuga inventore iste, magnam minus molestiae mollitia necessitatibus non perspiciatis praesentium quod quos totam, unde,
                voluptatum! Aut exercitationem placeat tempora.
            </div>
        </div>
        <div id="Right" class="col-md-6">
            <div id="Lastest"><h3 class="text-primary">Lastest Phone</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deserunt fugit magni omnis, sed similique tempora! Ad assumenda, culpa cupiditate distinctio ea eaque modi non placeat,
                quam, rem repellendus similique.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias culpa, cupiditate delectus dignissimos ea et, exercitationem fuga ipsa iusto possimus quas qui, reprehenderit saepe
                temporibus ut veritatis. Suscipit, ullam!
            </div>
        </div>
    </div>
</div>