<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <div>
                Search : <input ng-model="query" class="form-control"> <br>
            </div>
            <!-- Filter -->
            <div>
                Sort by :
                <select ng-model="orderProp" style="min-width: 70%;">
                    <option value="new_title">Alphabet</option>
                    <option value="new_date" selected>Newest</option>
                </select>
                <hr/>
            </div>
        </div>

        <div class="col-md-10">
            <!--Body content-->
            <ul class="phones">
                <li ng-repeat="new in news | filter:query | orderBy:-orderProp" class="thumbnail">
                    <a href="#/news/{{new.new_id}}"><img ng-src="{{new.new_avatar}}" class="thumb"/></a>
                    <a href="#/news/{{new.new_id}}">{{new.new_title}}</a>  | at  {{new.new_date}}
                    <hr style="padding: 2px; margin: 2px;"/>
                    <p>{{new.new_content|limitTo:200}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
</div>