<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--Sidebar content-->
            <div>
                Search : <input ng-model="searchquery" class="form-control"> <br>
            </div>
            <!-- Filter -->
            <div>
                Sort by :
                <select ng-model="orderProp" style="min-width: 70%;">
                    <option value="phone_name">Alphabet</option>
                    <option value="general_status">Newest</option>
                </select>
                <hr/>
            </div>
            <div class="list-group  text-center">
                <a href="./#/brands" class="list-group-item active"> Brands </a>
                <a href="./#/brands/{{mybrand.brand_id}}" class="list-group-item" ng-repeat="mybrand in brands.brand">{{mybrand.brand_name}}</a>
            </div>
        </div>

        <div class="col-md-9">
            <!--Body content-->
            <ul class="phones">
                <li ng-repeat="phone in phones | filter:searchquery | orderBy:orderProp" class="thumbnail">
                    <a href="#/phones/{{phone.phone_id}}" class="thumb"><img ng-src="{{phone.imagesUrl[0]}}"></a>
                    <a href="#/phones/{{phone.phone_id}}">{{phone.phone_name}}</a>

                    <p>{{phone.detail}} Some phone quick detail</p>
                </li>
            </ul>
        </div>
    </div>
</div>
