<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group  text-center">
                <a href="./#/brands" class="list-group-item active"> Brands </a>
                <a href="./#/brands/{{brand.brand_id}}" class="list-group-item" ng-repeat="brand in brands.brand">{{brand.brand_name}}</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <a href="#/brands/{{phone.brand_id}}"><img ng-src="./img/logo/{{phone.logoUrl}}" alt="No logo found" style="float:left;"/></a>
                <a href="#/brands/{{phone.brand_id}}"><h5 style="float:right;" class="text-primary">{{phone.brand_name}}</h5></a>

                <br>
                <hr style="border: 2px solid rgba(192, 6, 74, 0.66);">
            </div>
            <div class="col-md-4">
                <img ng-src="{{phone.imagesUrl[0]}}" alt="./img/phones/default.png" class="phone" ng-show="phone.imagesUrl[0]"/>
                <img src="./img/phones/default.png" alt="" ng-hide="phone.imagesUrl[0]"/>
                <p class="text-info">Number of Like (votes)</p>
                <p class="text-info">Review (phone.review_name)</p>
            </div>
            <div class="col-md-8">
                <div id="specs-list">
                    <!-- General-->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="3" scope="row">General</th>
                            <td class="ttl">Network</td>
                            <td class="nfo">{{phone.network}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Announced</td>
                            <td class="nfo">{{phone.announced}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Status</td>
                            <td class="nfo">{{phone.status}}</td>
                        </tr>
                    </table>

                    <!-- Body-->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="3" scope="row">Body </th>
                            <td class="ttl">Dimmension</td>
                            <td class="nfo">{{phone.body_dimmension}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Weight</td>
                            <td class="nfo">{{phone.body_weight}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">+</td>
                            <td class="nfo">Light weight</td>
                        </tr>
                    </table>
                    <!-- Display-->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="3" scope="row">Display </th>
                            <td class="ttl">Type</td>
                            <td class="nfo">{{phone.display_type}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Size</td>
                            <td class="nfo">{{phone.display_size}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Multitouch</td>
                            <td class="nfo">Yes</td>
                        </tr>
                    </table>

                    <!-- Sound -->
                    <table cellspacing="0">
                        <tr>
                            <th rowspan="3" scope="row">Sound </th>
                            <td class="ttl">Alert Types</td>
                            <td class="nfo">{{phone.sound_alert}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">Loudspeaker</td>
                            <td class="nfo">{{phone.sound_speaker}}</td>
                        </tr>
                        <tr>
                            <td class="ttl">3.5mm jack</td>
                            <td class="nfo">{{phone.jack}}</td>
                        </tr>
                    </table>

                    <p>Bla bla bla bla</p>

                </div>
            </div>


        </div>
    </div>
</div>


<div class="container" align="center">
    Facebook plugin bla bla bla bla
</div>